body{
    background-color: red;
}

.broj{
    font-size: 30px;
    margin: 20px;
   
    border: 2px solid gray;
}
input {
    width: 70px;
}
.mesto {
    color: red;
    font: 20px sans-serif;
}
#ulog {
    width: 200px;
}
